/* globals.scss أو main.scss */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* // #7a2d31, #bf9476, #845f56, #302020, #f1a88d, #e5d6c6
// 🎨 🎨 Light Mode Palette
$color-primary: #7a2d31; // نبيتي داكن - للأزرار أو العناوين
$background-color: #e5d6c6; // سكري فاتح - للخلفية الأساسية
$surface-color: #ffffff; // أبيض - لبطاقات أو عناصر داخلية
$text-primary: #302020; // رمادي غامق مائل للبني - للنصوص الرئيسية
$text-secondary: #bf9476; // رمادي دافي - لنصوص ثانوية
$accent-color: #845f56; // وردي غامق دافئ - لون مميز للأزرار أو الروابط */

/* // 🧱 Custom Styles */

:root {
  background-color: #ffffff;
}

h2 {
  @apply font-bold;
  color: #302020;
  font-size: 3rem;

  span {
    color: #7a2d31;
  }
}

h3 {
  @apply font-semibold text-2xl;
  color: #302020;

  &:hover {
    color: #7a2d31;
  }
}

.btn {
  @apply bg-[#7a2d31] text-white px-6 py-2 rounded-full hover:bg-[#5a1f23] transition-colors duration-300;
}
